.App-header {
  background-color: white;
  min-height: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
  font-family: "Poppins";
}

.App-body {
  background-image: url("./img/white_wave.png");
  background-repeat: repeat;
}

html,
body,
#root,
.App {
  height: 100%;
}
